.navigation {
  display: flex;
  width: 100%;
  height: 13rem;
  box-shadow: -2px 2px 6px 0px #00000024;
  position: fixed;
  background: white;
  z-index: 10;

  .navigation__container {
    width: min(90%, 148rem);
    height: 13rem;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 7% 86% 7%;
    gap: 3rem;

    .navigation__logo {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        
        height: 100%;
        width: 100%;

        & > img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }

    .navigation__menu {
      display: grid;
      grid-template-rows: 50% 50%;

      .navigation__research {
        display: flex;
        align-items: end;

        .navigation__research__container {
          display: grid;
          grid-template-columns: 90% 10%;
          border: solid 1px rgba(105, 100, 100, 0.487);
          width: 40rem;
          border-radius: 0.2rem;
          transition: 0.5s ease-in-out;

          &:focus-within {
            border: solid 1px var(--blue-master-pro);
            border-radius: 5rem;
          }

          .navigation__input__research {
            width: 100%;
            font-size: 2rem;
            padding: 0.7rem;
            outline: none;
            border: none;
            border-radius: inherit;
          }

          .navigation__input__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
          }
        }
      }

      .navigation__list {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 600;

        .MENU {
          width: 50%;
          display: flex;
          justify-content: start;
        }

        li {
          display: flex;
          align-items: center;
          justify-content: start;
          cursor: pointer;
          position: relative;

          &:hover {
            color: var(--blue-master-pro);
          }

          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0%;
            background: var(--blue-master-pro);
            transition: 0.5s;
          }

          &:hover:before {
            width: 100%;
          }
        }
      }
    }

    .navigation__networks {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
      justify-content: center;

      .LOGO {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        i {
          font-size: 3rem;
        }
      }
    }
  }
}

/* navbar-placeholder */

.navbar__placeholder {
  height: 13rem;
}
