/* GLOBAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    font-family: "MasterProFont";
    user-select: none;
    color: inherit;
    text-decoration: none;
}


html {
    font-size: 10px;
}
