.global__bottom {
  min-height: 13rem;
  background: white;
  color: var(--blue-master-pro);

  .center__bottom {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    width: var(--large);
    margin-inline: auto;
    height: 100%;

    &>div {
      margin: 2rem 5rem;
      text-align: left;
      font-size: 1.4rem;
      line-height: 2.1;
      font-weight: bold;
    }
  }

  .logo {
    text-align: center;
    width: 25%;

    &>img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}