/* NAVIGATION */

@import url("./styles/navigation/navigation.css");

/* GLOBAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
  font-size: 10px;
}

