/* NAVIGATION */

@import url("./styles/components/navigation/navigation.css");


/* GLOBAL */

@import url("./styles/globals.css");
@import url("./styles/variables.css");

/* GLOBAL COMPONENTS */

@import url("./styles/components/global__components__CSS/global_top.css");
@import url("./styles/components/global__components__CSS/global_bottom.css");
@import url("./styles/components/button.css");

/* PAGES */

@import url("./styles/components/catalog/main__catalog.css");

/* FONTS */

@import url("./styles/fonts.css");